/*Dégradé de couleurs pour la page de présentation des produits*/
main {
    background: linear-gradient(#F0A71F, #8830EC);
}

/*Dimensionnement de l'image logo*/
h1 img {
    width: 200px;
}

img {
    max-width: 100%;
    border-radius: 2rem;
}



