/*Dégradé de couleurs pour la page de présentation des produits*/
main {
    background: linear-gradient(#F0A71F, #8830EC);
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-top: -1rem;
}

/*Dimensionnement de l'image logo*/
header img {
    height: 30%;
    width: 30%;
    margin-left: 0;
}
/*Mise en gras du mot accueil et changement de taille ainsi que déplacement vers la gauche*/
a.nav-link {
    font-weight: bold;
    font-size: xx-large;
    display: flex;
    margin-right: 3rem;
    }

/*Ajustement sur le logo panier page d'accueil*/
.fas.fa-shopping-cart {
    font-size: xx-large;
    margin-right: 1.5rem;
    margin-top: 1rem;
    color: rgb(192, 25, 207);
}

/*Dimmensionnement et positionnement des images présentation des produits*/
img {
    padding-top: 1rem;
    max-width: 100%;
    height: 20rem;
    border-radius: 2rem;
    display: block;
    margin: auto;
}

/*Mise en page de chaque produit page d'accueil*/
.product {
    background-color: rgb(250, 218, 238);
    border-radius: 0.5rem;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
    max-width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

  
/*Mise en page de chaque page individuelle du produit*/
#product-description {
    font-size: x-large;
    font-weight: bold;
    margin-top: 2rem;
    margin-left: 2rem;
}

#product-price {
    font-size: x-large;
    margin-left: 2rem;
}

#product-varnish {
    font-size: x-large;
    margin-left: 2rem;
}

#product-name {
    margin-bottom: 4rem;
    margin-left: 2rem;
    padding-top: 2rem;
    font-size: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: underline rgb(185, 26, 185);
}

/*Changement de la couleur de fond et margin pour le choix des vernis*/
#product-options {
    margin-left: 2rem;
    background-color: #c8a0f5;
}

/*Changement de la couleur de fond, margin et enlèvement des bordures du bouton ajouter au panier*/
#cart {
    margin-left: 2rem;
    background-color: #c8a0f5;
    border: none;
}

/*Au survol du bouton ajouter au panier, changement de la couleur de fond*/
button#cart:hover {
    background-color: #F0A71F;
}

/*Mise en forme du formulaire*/
#orderForm label {
    font-weight: bold;
    padding-left: 2rem;
}

h2.form {
    text-align: center;
    padding-bottom: 1.5rem;
}

#orderForm {
    background-color: rgb(255, 220, 227);
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    padding-top: 1rem;
    margin-bottom: -2rem;
    margin-left: auto;
    margin-right: auto;
}

#username, #usermail, #phone, #adress, #code, #city {
    background-color: #ffffffab;
    margin-bottom: 1rem;
}

.submit input {
    background-color: #c8a0f5;
    font-size: x-large;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
}

.submit {
    text-align: center;
}

.submit input:hover {
    background-color: #8830EC;
}

/*Changement de la couleur de fond et mise en gras de la quantité à choisir par produit*/
select#qt {
    background-color: #c8a0f5;
}

label {
    font-weight: bold;
}

/*Mise en forme du bouton supprimer sur la page panier*/
button.btn-supprimer {
    background-color: orange;
    padding: 0.5rem;
    border-radius: 1rem;
}

